@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Environment
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
</head>
<body>
  <header>
    <h1>Osoby</h1>
    <div>Razor Pages s EF In Memory Database</div>
    <br>
  </header>
  <main>
    @RenderBody()
  </main>
  <footer>
    <ul>
      <li>Copyright &copy; <a href="http://www.frisoft.cz/">Friendly Software</a>, 2017-@DateTime.Today.Year</li>
      <li title="@Environment.EnvironmentName environment">Using ASP.NET Razor Pages</li>
    </ul>
  </footer>
</body>
</html>
